<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self Assessment Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1 th:text="#{selfAssessmentFormHeader}"></h1>
<form action="#" th:action="@{/payTax}" th:object="${selfAssessmentForm}" method="post">
    <span th:text="#{yearOfAssessment}"></span>
    <input type="text" th:field="*{yearOfAssessment}" id="yearOfAssessment"><span th:if="${#fields.hasErrors('yearOfAssessment')}" th:errors="*{yearOfAssessment}"></span><br/><br/>
    <span th:text="#{nameOfTheOwner}"></span>
    <input type="text" th:field="*{owner}" id="owner"><span th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></span><br/><br/>
    <span th:text="#{email}"></span>
    <input type="text" th:field="*{email}" id="email"><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/><br/>
    <span th:text="#{addressOfTheProperty}"></span>
    <input type="text" th:field="*{propertyAddress}" id="propertyAddress"><span th:if="${#fields.hasErrors('propertyAddress')}" th:errors="*{propertyAddress}"></span><br/><br/>
    <span th:text="#{zonalClassification}"></span>
    <select class="form-control" th:field="*{zonalClassification}"  id="zonalClassification">
        <option value="">Select Zone</option>
        <option th:each="zone : ${zones}" th:value="${zone.zone}" th:text="${zone.zone}"></option>
    </select><span th:if="${#fields.hasErrors('zonalClassification')}" th:errors="*{zonalClassification}"></span><br/><br/>
    <span th:text="#{descriptionOfTheProperty}"></span>
    <select class="form-control" th:field="*{propertyDescription}"  id="propertyDescription">
        <option value="">Select Property Type</option>
        <option th:each="property : ${propertyTypes}" th:value="${property.propertyType}" th:text="${property.propertyType}"></option>
    </select><span th:if="${#fields.hasErrors('propertyDescription')}" th:errors="*{propertyDescription}"></span><br/><br/>
    <span th:text="#{status}"></span>
    <select class="form-control" th:field="*{status}"  id="status">
        <option value="">Select Status Type</option>
        <option th:each="status : ${statusTypes}" th:value="${status.status}" th:text="${status.status}"></option>
    </select><span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span><br/><br/>
    <span th:text="#{buildingConstructionYear}"></span>
    <input type="text" th:field="*{buildingConstructionYear}" id="buildingConstructionYear"><span th:if="${#fields.hasErrors('buildingConstructionYear')}" th:errors="*{buildingConstructionYear}"></span><br/><br/>
    <span th:text="#{builtUpArea}"></span>
    <input type="text" th:field="*{buildUpArea}" id="buildUpArea"><span th:if="${#fields.hasErrors('buildUpArea')}" th:errors="*{buildUpArea}"></span><br/><br/>
    <span th:text="#{totalTaxPayable}"></span>
    <input type="text" th:field="*{totalTaxPayable}" id="totalTaxPayable" readonly onclick="callTaxFunction()"><br/><br/>
    <input type="button" onclick="location.href='/'" th:value="#{cancel}">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" th:value="#{payTax}">
</form>
<script>
function callTaxFunction() {

  var formData = {
  zonalClassification : $("#zonalClassification").val(),
  propertyDescription :  $("#propertyDescription").val(),
  status :  $("#status").val(),
  buildingConstructionYear :  $("#buildingConstructionYear").val(),
  buildUpArea :  $("#buildUpArea").val()
  }

  $.ajax({
      type : "POST",
      contentType : "application/json",
      url: "/calculateTax",
      data : JSON.stringify(formData),
      dataType : 'json',
      success :function(result) {
      payableTax = result;
      document.getElementById("totalTaxPayable").value = payableTax;
      }
  });
}
</script>
</body>
</html>