<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zonal Report</title>
</head>
<body>
<h1 th:text="#{zonalReport}"></h1>
<div th:each="year : ${yearsList}">
    <tr><span th:text="#{zoneWiseCollectionMessage}"></span><span th:text="${year}"></span>
        <table border=1>
            <tr>
                <th th:text="#{zoneName}"></th>
                <th th:text="#{propertyType}"></th>
                <th th:text="#{amountCollected}"></th>
            </tr>
        <div th:each="zonalReport : ${zonalReportList}">
            <div th:if="${year == zonalReport.yearOfAssessment}">
                    <tr>
                        <td th:text="${zonalReport.zonalClassification}"></td>
                        <td th:text="${zonalReport.status}"></td>
                        <td th:text="${zonalReport.amountCollected}"></td>
                    </tr>

            </div>
        </div>
        </table>
        <br/>
        <br/>
    </tr>
</div>
</body>
</html>